
.first_block{
    height: 30%;   
    padding: 10% 5%;
    border-top: 1px solid black;

    border-bottom: 1px solid black;
 }
 .text{
     margin-top: 10%;
     font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 37px;
    line-height: 45px;

    color: #000000;
 }
 .second_block{
     padding: 1% 5%;
     font-family: 'DIN Pro';
     height: 30%;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #000000;

 }
 